#registerBtn{
    color: black;
    background-color: #FF0000;
}

#LoginBtn{
    color: black;
//background-color: rgba(0, 203, 0, 0.69);
    background-color: #FF0000;

}
#HomeBtn{
    color: black;
    background-color: rgba(0, 203, 0, 0.69);
}
