body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(layout/images/shop.jpg);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.sec-design{
  margin: auto;
  margin-top: 15%;
  margin-bottom: 20%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 5%;
  width: 30%;
}
.sec-design1{
  margin: auto;
  margin-top: 15%;
  margin-bottom: 20%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 5%;
  width: 50%;
}

.sec-design2{
  margin: auto;
  margin-top: 15%;
  margin-bottom: 20%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 5%;
  width: 50%;
}


button{
  width: 100%;
  background-color: #B22222;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #B22222;
}


label{
  display: block;
  width: 100%;
  text-align: right;
}

.radio input, input[type=checkbox]{
  text-align: right;
  display:inline;
  float: right;
}

.checkboxes{
  border-radius: 6px;
  background-color: #ecf0f1;
  padding: 20px;
  height: 150px;
  overflow: auto;
}


